@config '../tailwind.config.ts';
@import 'tailwindcss';

@layer base {
  body {
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  }

  code,
  pre {
    font-family:
      var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}
